.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 50rem;
    height: 143px;

    transform: translateY(-40px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--background-color-elements);
    border-radius: 6px;

    padding-right: 2.5rem;

    .header__companyInfo {
      display: flex;
      align-items: center;
      gap: 39px;

      height: 100%;

      .header__logo {
        width: 140px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        img {
          width: 90px;
        }
      }
    }

    .header__info {
      display: flex;
      flex-direction: column;
      gap: 8.5px;

      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: var(--color-text);
      }

      span {
        font-weight: 400;
        font-size: 16px;
        color: var(--color-dark-grey);
      }
    }

    .header__button {
      width: 140px;
      height: 52px;

      background: var(--background-color-btn);
      border-radius: 5px;

      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-btn);

      &:hover {
        background: var(--background-color-btn-hover);
      }
    }
  }

  &__content {
    width: 50rem;

    background: var(--background-color-elements);
    border-radius: 6px;

    padding: 48px;

    .content__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .content__headerInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
          color: var(--color-text);
        }

        p {
          &:first-child {
            display: flex;
            align-items: center;
            gap: 12px;

            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: var(--color-dark-grey);

            div {
              width: 4px;
              height: 4px;
              background: var(--color-dark-grey);
              border-radius: 4px;
              transform: translateY(3px);
            }
          }

          &:last-child {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: var(--color-violet);
          }
        }
      }

      button {
        width: 140px;
        height: 52px;

        background: var(--color-violet);
        border-radius: 5px;

        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
      }
    }

    .content__description {
      margin-top: 43px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: var(--color-dark-grey);
    }

    .content__requirements {
      margin-top: 42px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: var(--color-text);
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-dark-grey);
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: var(--color-dark-grey);

          display: flex;
          align-items: center;
          gap: 23px;

          div {
            min-width: 4px;
            min-height: 4px;
            background: var(--color-dark-grey);
            border-radius: 4px;
          }
        }
      }
    }

    .content__role {
      margin-top: 42px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: var(--color-text);
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-dark-grey);
      }

      ol {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: var(--color-dark-grey);

          display: flex;
          align-items: center;
          gap: 23px;

          span {
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: var(--color-violet);
          }
        }
      }
    }
  }

  &__footer {
    width: 100%;
    background: var(--background-color-elements);

    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    .footer__container {
      width: 50rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 29px 0;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5px;

        h3 {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: var(--color-text);
        }

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: var(--color-dark-grey);
        }
      }

      button {
        width: 140px;
        height: 52px;

        background: var(--color-violet);
        border-radius: 5px;

        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
      }
    }
  }
}
